<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D.M.S</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="Font-Awesome-6.5.2/Font-Awesome-6.5.2/css/all.css">
</head>
<body>

    <div id="container">
        
        <!-- HEADER SECTION -->
        <section id="header">
            <header>
                <h1>D.M.S</h1>
            </header>
        <!-- HEADER NAVIGATION BAR -->
            <nav class="navigation-bar">
                <ul>
                    <li><a href="">Home</a></li>
                    <li>About</li>
                    <li>History</li>
                </ul>
            </nav>
        </section>

        <!-- BODY SECTION -->
        <section id="body">
            <!-- SIDE PANEL -->
            <div class="side-panel">
                <%-include("../partials/DbSpUl")%>
                <%-include("../partials/TableSpUl")%>
            </div>
            <!-- MAIN PANEL -->
            <div class="main">
              <p id="msg"></p>
              <%- include("../partials/createDbPanel")%>
              <%- include("../partials/deletePanel")%>
              <%- include("../partials/createTableForm")%>
              <!-- <%- include("../partials/createTableForm")%> -->
              <div id="add-rec-form"></div>
              <div class="database_container"></div>
              <div class="table_container"></div>
        </section>

        <!-- FOOTER SECTION -->
        <section id="footer">

        </section>
    </div>

    <script type="module" src="DMS js/DMS.js"></script>
</body>
</html>